:host {
  width: 100%;
  display: block;
  text-align: center;

  .mat-option-text {
    font-family: 'Noticia Text', serif;
  }

  .input {
    padding: 0.5em;
    font-size: 2rem;
    font-family: 'Noticia Text', serif;
  }

  .form-field {
    width: 50%;

    @media only screen
    and (max-width : 768px) {
      width: 90%;
    }
  }
  ::ng-deep {
    .mat-form-field-flex {
      align-items: center;
    }
  }
}



