<form>
  <mat-form-field class="form-field" appearance="fill">
    <input
      class="input"
      placeholder="Type a verb..."
      aria-label="Verb"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      (input)="verbSelect.emit()"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="getOptionLabel"
      (optionSelected)="onSelect($event)"
    >
      @for (option of options$ | async; track option) {
        <mat-option [value]="option">
          {{ option[option.matched] }}
        </mat-option>
      }
    </mat-autocomplete>
    @if (myControl.value) {
      <button
        type="button"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearSelectedValue()"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
</form>
