<form [formGroup]="searchForm" novalidate>
  <mat-form-field class="form-field" appearance="fill">
    <input
      class="input"
      [placeholder]="'VERB_INPUT.PLACEHOLDER' | translate"
      [attr.aria-label]="'VERB_INPUT.VERB_ARIA' | translate"
      matInput
      formControlName="term"
      [matAutocomplete]="auto"
      (input)="verbSelect.emit(null)"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="getOptionLabel"
      (optionSelected)="onSelect($event)"
    >
      @for (option of options$ | async; track option) {
        <mat-option [value]="option">
          {{ option[option.matched] }}
        </mat-option>
      }
    </mat-autocomplete>
    @if (searchForm.controls.term.hasError('minSearchLength') && searchForm.controls.term.dirty) {
      <mat-error>
        {{
          'VERB_INPUT.MIN_SEARCH_LEN'
            | translate: { min: searchForm.controls.term.getError('minSearchLength')?.requiredLength ?? 2 }
        }}
      </mat-error>
    }
    @if (searchForm.controls.term.hasError('maxlength') && searchForm.controls.term.dirty) {
      <mat-error>
        {{
          'VERB_INPUT.MAX_LEN'
            | translate: { max: searchForm.controls.term.getError('maxlength')?.requiredLength ?? 200 }
        }}
      </mat-error>
    }
    @if (searchForm.controls.term.hasError('searchPattern') && searchForm.controls.term.dirty) {
      <mat-error>{{ 'VERB_INPUT.PATTERN' | translate }}</mat-error>
    }
    @if (searchForm.controls.term.value) {
      <button
        type="button"
        mat-icon-button
        matSuffix
        [attr.aria-label]="'VERB_INPUT.CLEAR' | translate"
        (click)="clearSelectedValue()"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
</form>
