<div class="game">
  <div class="game-push-area">
    <div class="game-push-area-header">
      <div>I</div>
      <div>II</div>
      <div>III</div>
    </div>
    <div class="game-push-area-target"
         cdkDropListGroup>
      <div
        *ngFor="let key of keys"
        id="{{key}}"
        cdkDropList
        [cdkDropListEnterPredicate]="enterPredicate"
        [cdkDropListConnectedTo]="['item-0', 'item-1', 'item-2']"
        (cdkDropListDropped)="drop($event, key)"
      >
        <span *ngIf="selected[key]" class="selected-item">{{selected[key]}}</span>
      </div>
    </div>
  </div>
  <div class="game-pull-area">
    <div
      *ngFor="let item of items; index as i"
      id="item-{{i}}"
      cdkDropList
      [cdkDropListConnectedTo]="['base', 'pastSimple', 'pastParticiple']"
    >
      <span *ngIf="item" class="drag-item" cdkDrag [cdkDragData]="{ item: item, index: i }">{{item}}</span>
    </div>
  </div>
  <div class="game-actions">
    <button #submitBtn mat-raised-button [disabled]="!isSelected" (click)="onCheck()">Check</button>
  </div>
</div>

