<section class="verbs">
  <h2 class="text-center">Complete List of Irregular Verbs</h2>
  <p class="text-center">
    Explore a comprehensive table of irregular verbs to enhance your English
    skills! <br /><br />
    This page provides a structured list of verbs with their first, second, and
    third forms, making it easy to study and reference.
  </p>
  <div class="table-container">
    <div class="table-wrapper">
      <div class="overlay"></div>
      <table
        mat-table
        [dataSource]="($verbs | async)!"
        class="mat-elevation-z8"
      >
        <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

        <!-- Base Column -->
        <ng-container matColumnDef="base">
          <th mat-header-cell *matHeaderCellDef>Base Form (I)</th>
          <td mat-cell *matCellDef="let element">{{ element.base }}</td>
        </ng-container>

        <!-- pastSimple Column -->
        <ng-container matColumnDef="pastSimple">
          <th mat-header-cell *matHeaderCellDef>Past Simple Form (II)</th>
          <td mat-cell *matCellDef="let element">
            {{ element.pastSimple
            }}{{ element.pastSimpleAlt ? "/" + element.pastSimpleAlt : "" }}
          </td>
        </ng-container>

        <!-- pastParticiple Column -->
        <ng-container matColumnDef="pastParticiple">
          <th mat-header-cell *matHeaderCellDef>Past Participle Form (III)</th>
          <td mat-cell *matCellDef="let element">
            {{ element.pastParticiple
            }}{{
              element.pastParticipleAlt ? "/" + element.pastParticipleAlt : ""
            }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</section>
