<form>
  <mat-form-field class="form-field" appearance="fill">
    <input class="input"
           placeholder="Type a verb..."
           aria-label="Verb"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto"
           (input)="onVerbSelect.emit(null)" />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="getOptionLabel"
      (optionSelected)="onSelect($event)"
    >
      <mat-option *ngFor="let option of (options$ | async)" [value]="option">
        {{option[option.matched]}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>


