<h2 class="title text-center" mat-dialog-title>How to play?</h2>
<mat-dialog-content>
  <h4>Goal</h4>
  <p>
    Match the correct forms (I, II, and III) of 50 irregular verbs as quickly as
    possible.
  </p>

  <h4>Drag and Drop or Click</h4>
  <p>
    Select the correct verb forms and place them in the appropriate boxes
    labeled I, II, and III.
  </p>

  <h4>Track Your Progress</h4>
  <p>
    <b>Time Spent:</b> A timer at the top shows how long you've been playing.<br />
    <b>Your Score:</b> Displays the number of correctly matched verbs so far.
  </p>

  <h4>Check Your Answers</h4>
  <p>
    Once you've filled in the forms, click the Check button or press Enter to
    see if your answers are correct.
  </p>

  <h4>Challenge Yourself</h4>
  <p>Aim to complete all 50 verbs in the shortest time possible!</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
