<h2 class="title text-center" mat-dialog-title id="how-to-play-title">How to play?</h2>
<mat-dialog-content id="how-to-play-content" aria-describedby="how-to-play-title">
  <h3>Goal</h3>
  <p>
    Match the correct forms (I, II, and III) of 50 irregular verbs as quickly as
    possible.
  </p>

  <h3>Drag and Drop or Click</h3>
  <p>
    Select the correct verb forms and place them in the appropriate boxes
    labeled I, II, and III.
  </p>

  <h3>Track Your Progress</h3>
  <p>
    <b>Time Spent:</b> A timer at the top shows how long you've been playing.<br />
    <b>Your Score:</b> Displays the number of correctly matched verbs so far.
  </p>

  <h3>Check Your Answers</h3>
  <p>
    Once you've filled in the forms, click the Check button or press Enter to
    see if your answers are correct.
  </p>

  <h3>Challenge Yourself</h3>
  <p>Aim to complete all 50 verbs in the shortest time possible!</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close aria-label="Close how to play dialog">Close</button>
</mat-dialog-actions>
