<h2 class="title" mat-dialog-title id="game-over-title">
  @if (data.isCompleted) {
    {{ 'GAME_OVER.CONGRATS' | translate }}
  } @else {
    {{ 'GAME_OVER.OVER' | translate }}
  }
</h2>
<mat-dialog-content id="game-over-content" aria-describedby="game-over-title">
  @if (data.isCompleted) {
    <p>{{ 'GAME_OVER.WELL_DONE' | translate }}</p>
  }
  <p>
    {{ 'GAME_OVER.YOUR_TIME' | translate }}&nbsp;<span class="text-active">{{
      data.time
    }}</span>
    {{ 'GAME_OVER.SEC' | translate }}
  </p>
  <p>
    {{ 'GAME_OVER.YOUR_SCORE' | translate }}&nbsp;<span class="text-active">{{
      data.score
    }}</span>
  </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button
    mat-button
    mat-dialog-close
    [attr.aria-label]="'GAME_OVER.CLOSE_ARIA' | translate"
  >
    {{ 'GAME_OVER.CLOSE' | translate }}
  </button>
</mat-dialog-actions>
