<section class="text-center">
  <p>
    {{ 'GAME_PROMO.HELLO_BEFORE' | translate
    }}<span class="text-active">{{ name }}</span
    >{{ 'GAME_PROMO.HELLO_AFTER' | translate }}
  </p>
  <p>
    {{ 'GAME_PROMO.BODY' | translate }}
  </p>
  <p>
    <button routerLink="/game/active" mat-raised-button>
      {{ 'GAME_PROMO.PLAY' | translate }}
    </button>
  </p>
  <p>
    <a
      (click)="onHowToPlayClick()"
      (keyup.enter)="onHowToPlayClick()"
      (keyup.space)="onHowToPlayClick()"
      role="button"
      tabindex="0"
      >{{ 'GAME_PROMO.HOW_TO_PLAY' | translate }}</a
    >
  </p>
</section>
