:host {
  height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Noticia Text', serif;
}

section {
  width: 100%;

  &.search {
    margin-bottom: 3rem;
  }
}

.header {
  text-align: center;
  padding: 0.475em 0;
  font-size: 3rem;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 3px 0px #a0a0a0;
}

.header h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  margin-bottom: 0;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fffff2;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1.25em 2em;
  border-top: 1px solid #ccc;
  background-color: #f9f1f1;
}

.btn-donate {
  font-size: 1.2rem;
  font-family: 'Dancing Script', cursive;
  padding: 0.5em 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  background: #F44336;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  letter-spacing: 1px;
  cursor: pointer;
}

.link-contact {
  text-decoration: none;
  color: #F44336;
}
