<mat-accordion>
  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header class="panel-header">
      <mat-panel-title class="panel-title">
        <span class="form-sign">I</span>
        <span class="form-name">verb</span>
      </mat-panel-title>
      <mat-panel-description class="panel-description">
        <span class="verb">{{ details().base }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      @if (
        getBaseVerbExamples(details().base, "base first") | async;
        as baseFormExample
      ) {
        <h4 class="example-header">Examples</h4>
        <p class="example" [innerHTML]="baseFormExample"></p>
      } @else {
        Loading...
      }
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header class="panel-header">
      <mat-panel-title class="panel-title">
        <span class="form-sign">II</span>
        <span class="form-name">past</span>
      </mat-panel-title>
      <mat-panel-description class="panel-description">
        <span class="verb">{{ details().pastSimple }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      @if (
        getPastVerbExamples(
          details().pastSimple,
          "past simple second irregular"
        ) | async;
        as pastFormExample
      ) {
        <h4 class="example-header">Examples</h4>
        <p class="example" [innerHTML]="pastFormExample"></p>
      } @else {
        Loading...
      }
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel class="panel">
    <mat-expansion-panel-header class="panel-header">
      <mat-panel-title class="panel-title">
        <span class="form-sign">III</span>
        <span class="form-name">participle</span>
      </mat-panel-title>
      <mat-panel-description class="panel-description">
        <span class="verb">{{ details().pastParticiple }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      @if (
        getParticipleVerbExamples(
          details().pastParticiple,
          "past participle third irregular"
        ) | async;
        as participleFormExample
      ) {
        <h4 class="example-header">Examples</h4>
        <p class="example" [innerHTML]="participleFormExample"></p>
      } @else {
        Loading...
      }
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
