:host {
  width: 100%;

  section {
    width: 100%;

    h2 {
      margin-bottom: 2rem;
    }

    &.search {
      margin-bottom: 3rem;

      @media only screen and (max-device-width: 768px) {
        margin-bottom: 1rem;
      }
    }
  }

  app-verb-input {
    margin-top: 5rem;

    @media only screen and (max-device-width: 768px) {
      margin-bottom: 1rem;
    }
  }

  .details {
    margin-bottom: 5rem;

    @media only screen and (max-device-width: 768px) {
      margin-bottom: 1rem;
    }
  }
}
