<section class="search">
  <div>
    <h2 class="text-center">
      {{ 'SEARCH.HERO_TITLE' | translate }}
    </h2>
    <div>
      <p class="text-center">
        {{ 'SEARCH.INTRO' | translate }}
      </p>

      <p class="text-center">
        <strong>{{ 'SEARCH.LEARN_PLAY' | translate }}</strong>
        {{ 'SEARCH.LEARN_PLAY_BEFORE' | translate
        }}<a class="text-active" routerLink="/game">{{
          'SEARCH.LEARN_PLAY_LINK' | translate
        }}</a
        >{{ 'SEARCH.LEARN_PLAY_AFTER' | translate }}
      </p>

      <p class="text-center">
        <strong>{{ 'SEARCH.FIND_FORMS' | translate }}</strong>
        {{ 'SEARCH.FIND_FORMS_BODY' | translate }}
      </p>

      <p class="text-center">
        <strong>{{ 'SEARCH.EXPLORE_LIST' | translate }}</strong>
        {{ 'SEARCH.EXPLORE_BEFORE' | translate
        }}<a class="text-active" routerLink="/verbs">{{
          'SEARCH.EXPLORE_LINK' | translate
        }}</a
        >{{ 'SEARCH.EXPLORE_AFTER' | translate }}
      </p>

      <p class="text-center">
        <strong>{{ 'SEARCH.CLOSING_LINE1' | translate }}</strong
        >{{ 'SEARCH.CLOSING_LINE2' | translate }}
      </p>
    </div>
  </div>
  <app-verb-input (verbSelect)="selected = $event"></app-verb-input>
</section>
<section class="details">
  <app-verb-info [details]="selected"></app-verb-info>
</section>
