<section class="search">
  <div>
    <h2 class="text-center">
      Learn Irregular Verb Forms Easily and Playfully!
    </h2>
    <div>
      <p class="text-center">
        Have you ever wondered which form of an irregular verb is correct? For
        example, become or became, went or gone? This site is here to help!
      </p>

      <p class="text-center">
        <strong>Learn Through Play:</strong> Boost your knowledge with a fun and
        interactive <a class="text-active" routerLink="/game">game</a>!
      </p>

      <p class="text-center">
        <strong>Find the Forms:</strong> Simply enter any irregular verb into
        the input field below to instantly discover whether it’s the first,
        second, or third form.<br />For each form, you can also view
        AI-generated example sentences in an expandable panel, making learning
        contextual and engaging!
      </p>

      <p class="text-center">
        <strong>Learning English</strong> has never been this useful and fun!
        Try it now!
      </p>
    </div>
  </div>
  <app-verb-input (verbSelect)="selected = $event"></app-verb-input>
</section>
<section class="details">
  <app-verb-info [details]="selected"></app-verb-info>
</section>
